* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #083b4c;
}

.number-container {
  height: 3.75rem;
  line-height: 3.75rem;
  vertical-align: middle;
  font-weight: 600;
}
